@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.start {
  color: #f1356d;
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 3px solid #f2f2f2;
}

.App h2 {
    color: #f1356d;
    margin-bottom: 20px;
}

.reg, .login {
    margin-top:20px;
    margin-bottom: 10px;
}

.reg input, .reg button, .login input, .login button {
    margin-bottom: 3px;
}

.App button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.enterApp button {
    margin-top:40px;
    background: #ffffff;
    color: #f1356d;
    border: 3px solid #f1356d;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.App {
    padding: 0px 20px 100px 20px;
    text-align: center;
    font-family: "Quicksand";
}